<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Dashboard</title>

    <!-- Bootstrap core CSS-->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- D3 core scripts-->
    <script src="../static/vendor/d3/d3.min.js"></script>
    <!-- Plotly core scripts-->
    <script src="../static/vendor/plotly/plotly-latest.min.js"></script>

    <!-- Page level plugin CSS-->
    <link href="../static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin.css" rel="stylesheet">#}


</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">Start Bootstrap</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

</nav>

<div id="wrapper">

    <!--&lt;!&ndash; Sidebar &ndash;&gt;-->
    <!--<ul class="sidebar navbar-nav">-->
    <!--<li class="nav-item active">-->
    <!--<a class="nav-link" href="index.html">-->
    <!--<i class="fas fa-fw fa-tachometer-alt"></i>-->
    <!--<span>Dashboard</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li class="nav-item dropdown">-->
    <!--<a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--<i class="fas fa-fw fa-folder"></i>-->
    <!--<span>Pages</span>-->
    <!--</a>-->
    <!--<div class="dropdown-menu" aria-labelledby="pagesDropdown">-->
    <!--<h6 class="dropdown-header">Login Screens:</h6>-->
    <!--<a class="dropdown-item" href="login.html">Login</a>-->
    <!--<a class="dropdown-item" href="register.html">Register</a>-->
    <!--<a class="dropdown-item" href="forgot-password.html">Forgot Password</a>-->
    <!--<div class="dropdown-divider"></div>-->
    <!--<h6 class="dropdown-header">Other Pages:</h6>-->
    <!--<a class="dropdown-item" href="404.html">404 Page</a>-->
    <!--<a class="dropdown-item" href="blank.html">Blank Page</a>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="charts.html">-->
    <!--<i class="fas fa-fw fa-chart-area"></i>-->
    <!--<span>Charts</span></a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="tables.html">-->
    <!--<i class="fas fa-fw fa-table"></i>-->
    <!--<span>Tables</span></a>-->
    <!--</li>-->
    <!--</ul>-->

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Overview</li>
            </ol>


            <div class="row">
                <div class="col-8">
                    <!-- Trend plot -->
                    <div class="card mb-3">
                        <div class="card-header" id="target-tsplot-header"><i class="fas fa-chart-line"></i>
                        </div>
                        <div class="card-body">
                            <div id="trendPlot">
                            </div>
                        </div>
                        <div class="card-footer small text-muted" id="target-tsplot-footer"></div>
                    </div>
                </div>
                <div class="col-4">
                    <!-- Trend plot -->
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-list"></i> Variables</div>
                        <div class="card-body">
                            <div class="container">
                                <h2>Form control: select</h2>
                                <p>The form below contains two dropdown menus (select lists):</p>
                                <form>
                                    <div class="form-group">
                                        <label for="select-target">Select target variable (select one):</label>
                                        <select class="form-control" id="select-target">
                                            <option selected="selected" value="13">CMRMTSPL</option>
                                            <option value="12">INDPRO</option>
                                            <option value="0">PAYEMS</option>
                                            <option value="14">W875RX1</option>
                                        </select>
                                        <br>
                                        <label for="select-indicator">Select predictor variables (hold shift/ctrl to select more than one):</label>
                                        <select multiple class="form-control" id="select-indicator">
                                            <option selected="selected" value="1">AWHNONAG</option>
                                            <option selected="selected" value="2">CES9091000001</option>
                                            <option value="13">CMRMTSPL</option>
                                            <option value="11">DGS10</option>
                                            <option value="12">INDPRO</option>
                                            <option value="6">MVPHGFD027MNFRBDAL</option>
                                            <option value="7">MNFCTRIRSA</option>
                                            <option value="8">MNFCTRMPCIMSA</option>
                                            <option value="9">MORTGAGE30US</option>
                                            <option value="10">MORTGAGE15US</option>
                                            <option value="5">LNS13023706</option>
                                            <option value="0">PAYEMS</option>
                                            <option value="4">UNEMPLOY</option>
                                            <option value="3">USGOVT</option>
                                            <option value="14">W875RX1</option>
                                        </select>
                                    </div>
                                </form>
                                <button type="button" class="btn btn-default btn-block" id="run-button">Run</button>

                            </div>
                        </div>
                        <div class="card-footer small text-muted" id="select-form-footer"></div>
                    </div>

                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Created in October 2018</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->

<!-- Bootstrap core JavaScript-->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<!--<script src="../static/vendor/chart.js/Chart.min.js"></script>-->
<!--<script src="../static/vendor/datatables/jquery.dataTables.js"></script>-->
<!--<script src="../static/vendor/datatables/dataTables.bootstrap4.js"></script>-->

<!-- Custom scripts for all pages-->
<script src="../static/js/sb-admin.min.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/trend.plot.js"></script>


</body>

</html>
